.header {
    display: flex;
    flex-direction: column;
    position: relative;

    &__brand-container {
        height: 5rem;
        background-color: chocolate;
    }

    &__branding {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__menu-container {

    }

    &__brand-search {
        position: absolute;
        top: 50%; 
        right: 25%;
    }

    &__brand-search-item {
        
    }
}

